--extra-index-url https://download.pytorch.org/whl/cpu --index-strategy unsafe-best-match
xformers==0.0.31
torch>=2.7.0
torchvision>=0.19.0
omegaconf
torchmetrics>=0.10.3
fvcore
iopath
submitit
pandas
